<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

    <context:property-override location="classpath:/SmsInfoTest.properties"/>

    <jaxws:endpoint id="endpointSmsInfo"
                    implementor="ua.np.services.smsinfo.SmsInfoServiceImpl"
                    address="${address}"/>

    <context:component-scan base-package="ua.np.services.smsinfo"/>

    <jdbc:embedded-database id="dataSource">
        <jdbc:script location="classpath:/createTables.sql"/>
        <!--<jdbc:script location="classpath:/insertData.sql"/>-->
    </jdbc:embedded-database>

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--<property name="driverClassName" value="${driverClassName}"/>-->
    <!--<property name="url" value="${url}"/>-->
    <!--<property name="username" value="${username}" />-->
    <!--<property name="password" value="${password}" />-->
    <!--</bean>-->

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
        <property name="packagesToScan" value="ua.np.services.smsinfo"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="generateDdl" value="true" />
                <!--<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />-->
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" />

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <jaxws:client id="clientSmsInfoService"
                  serviceClass="ua.np.smsinfo.SMSInfoService"
                  address="${address}"/>

</beans>